.global-container{
    max-width: 1920px;
    margin: 0 auto;
}
video{
    object-fit: cover;
}

.parallax {
    background-image: url("./img/parallax.jpg");
    min-height: 200px;
    width: 100%;
    BACKGROUND-ATTACHMENT: FIXED;
    BACKGROUND-POSITION: CENTER;
    BACKGROUND-REPEAT: NO-REPEAT;
    BACKGROUND-SIZE: COVER;

}